.banner-container {
  width: 100vw;
  height: clamp(19.125rem, 60vw, 31.875rem);
  background-color: #e7e7ea;
  overflow: hidden;
}

.banner {
  position: relative;
  margin: auto;
  max-width: 78.75rem;
  height: 100%;
}

.banner-item {
  position: absolute;
  width: 52%;
  height: 100%;
}

.banner-item-left {
  left: 0;
}

.banner-item-right {
  right: 1.25rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-item-img {
  max-width: 685px;
  max-height: 510px;
  height: 100%;
  mix-blend-mode: darken;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  padding-right: 20px;
}

.banner-title-highlight,
.banner-tittle {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-100);
  color: var(--color-font-secondary);
  text-align: center;
  text-transform: uppercase;
}

.banner-title-highlight {
  font-weight: var(--font-weight-light);
}

.banner-discount,
.banner-subtitle-spacing,
.banner-subtitle {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-25);
  color: var(--color-primary);
  margin-top: 0.3125rem;
  text-transform: uppercase;
}

.banner-subtitle-spacing {
  letter-spacing: 0.3em;
}

.banner-discount {
  font-size: var(--font-size-60);
  margin-top: 0.8125rem;
}

@media (max-width: 950px) {
  .banner-item-left {
    left: -14.5rem;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .banner-item-left {
    left: -6rem;
    width: 80%;
  }

  .banner-item-right {
    width: 52%;
  }

  .banner-title-highlight {
    margin-top: -0.625rem;
  }

  .banner-type-mobile .banner-subtitle-spacing {
    letter-spacing: normal;
  }
  .banner-subtitle-spacing {
    letter-spacing: 0px;
  }
}

@media (max-width: 530px) {
  .banner-item-left {
    left: -8.9rem;
    width: 80%;
  }
}
