.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 510px;
  background-color: #e7e7ea;
  user-select: text;
}

.banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 67%;
  height: 100%;
  transition: width 0.6s linear;
}

.banner-item {
  display: flex;
  position: absolute;
  width: 52%;
  height: 100%;
}

.banner-item-right {
  right: 20px;
}

.banner-item-left {
  left: 0px;
}

.banner-img {
  width: 685px;
  height: 510px;
  mix-blend-mode: darken;
}

.banner-title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
}

.banner-title-highlight,
.banner-tittle {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 100px;
  color: var(--color-font-secondary);
  text-transform: uppercase;
}

.banner-title-highlight {
  font-weight: var(--font-weight-light);
}

.banner-discount,
.banner-subtitle-spacing,
.banner-subtitle {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 25px;
  color: var(--color-primary);
  margin-top: 14px;
  text-transform: uppercase;
}

.banner-subtitle-spacing {
  letter-spacing: 7px;
}

.banner-discount {
  font-size: 59px;
  margin-top: 13px;
}

.banner-type-desktop {
  display: flex;
}

.banner-type-mobile {
  display: none;
}

@media (max-width: 1600px) {
  .banner {
    width: 100%;
  }
}
@media (max-width: 1250px) {
  .banner-type-mobile {
    display: flex;
  }

  .banner-type-desktop {
    display: none;
  }
}
