.topbar-user {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.topbar-user-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #005cff;
  width: auto;
  height: auto;
}

.topbar-user-name-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
}

.topbar-user-name {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-sm);
  color: var(--color-font-secondary);
  line-height: 1;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.topbar-user .bi {
  height: 1.05em;
}
