.contact-container {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  height: 660px;
}

.contact-container img {
  position: absolute;
  left: -2.5%;
  width: 105%;
  filter: blur(3px);
  height: 660px;
  object-fit: cover;
}

.contact-banner {
  --min-height: 132px;
  position: relative;
  width: 100%;
  min-width: 390px;
  min-height: var(--min-height);
  bottom: calc(-50% + var(--min-height) / 2);
  background-color: var(--color-primary);
}

.contact-banner h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: var(--font-secondary);
  font-size: var(--font-size-30);
  font-weight: var(--font-weight-regular);
  color: var(--color-font-primary);
}

@media (max-width: 768px) {
  .contact-banner {
    --min-height: 75px;
  }
  .contact-banner h2 {
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
  }
}
