.releases {
   display: flex;
   flex-direction: column;
   max-width: calc(1328.4px + 14px);
   max-height: 511px;
   padding-left: 40px;
   padding-right: 40px;
   margin: auto;
   gap: 20px;
}

.releases .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.releases .header h2 {
   font-family: var(--font-primary);
   font-weight: var(--font-weight-bold);
   font-size: var(--font-lg);
   color: var(--color-font-secondary);
}

.releases .header button {
   font-family: var(--font-primary);
   font-weight: var(--font-weight-bold);
   font-size: var(--font-sm);
   color: #303030;
   border: none;
   background-color: transparent;
   cursor: pointer;
   transition: color 0.15s ease-out;
}

.releases .header button:hover {
   color: var(--color-primary);
}

/* PRODUTOS */
.releases .products {
   display: flex;
   position: relative;
   width: auto;
   overflow: hidden;
   /* background-color: #343232; */
}

.releases .page {
   display: flex;
   position: relative;
   width: auto;
   /* margin-top: 22px;
   margin-bottom: 16px; */
   overflow: hidden;
}

.releases .page-content {
   display: grid;
   gap: 18px;
   grid-auto-flow: column;
   overflow-x: auto;
   overflow-y: hidden;
   /* scrollbar-width: none; */
   scrollbar-width: 1px;
   scroll-behavior: smooth;
   padding-bottom: 3px;
}

.releases .page-content::-webkit-scrollbar {
    margin-top: 10px;
    height: 5px;
    background: #eaeaea;
 }
 
 .releases .page-content::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 5px;
 }
 
 .releases .page-content::-webkit-scrollbar-thumb:hover {
    background: #a2a2a2;
 }

/* INDICADOR DE PÁGINAS */
/* .releases-pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.releases-page-dot {
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background-color: #838383;
   cursor: pointer;
   transition: background-color 0.5s ease;
}

.releases-page-dot:hover {
   background-color: #343232;
}

.releases-page-dot.selected {
   background-color: #303030;
} */