.releases {
   position: relative;
   display: flex;
   flex-direction: column;
   max-width: 1328.4px;
   padding-left: 40px;
   padding-right: 40px;
   margin: auto;
   gap: 20px;
}

.releases .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.releases .header h2 {
   font-family: var(--font-primary);
   font-weight: var(--font-weight-bold);
   font-size: var(--font-lg);
   color: var(--color-font-secondary);
}

.releases .header button {
   font-family: var(--font-primary);
   font-weight: var(--font-weight-bold);
   font-size: var(--font-sm);
   color: #303030;
   border: none;
   background-color: transparent;
   cursor: pointer;
   transition: color 0.15s ease-out;
}

.releases .header button:hover {
   color: var(--color-primary);
}

/* PRODUTOS */
.releases .products {
   display: flex;
   flex-direction: column;
   width: auto;
   height: auto;
   max-width: 1328.4px;
   overflow: hidden;
   gap: 16px;
}

/* CARROSSEL */
.releases .carrousel {
   display: flex;
   position: relative;
   flex-direction: row;
   align-items: center;
   justify-content: start;
   width: 100%;
   height: auto;
}
.releases .swiper-slide {
   max-width: fit-content;
   min-width: fit-content;
   height: auto !important;
}

/* PAGINAÇÃO */
.releases .products-pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}

.releases .swiper-pagination-bullet {
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background-color: #303030;
}

.releases .swiper-pagination-bullet-active {
   background-color: #303030;
}

.releases .products-navigation {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 50%;
   transform: translateY(-50%);
   z-index: 10;
   cursor: pointer;
   background-color: var(--color-bg);
   border: 1px solid var(--color-primary);
   border-radius: 50%;
   box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
   user-select: none;
}
.releases .products-button-prev {
   left: 25px;
   height: 30px;
   width: 30px;
}

.releases .products-button-next {
   right: 25px;
   height: 30px;
   width: 30px;
}

.releases .products-navigation i {
   color: var(--color-primary);
   font-size: 25px;
   -webkit-text-stroke: 0.3px;
   margin-top: 2px;
}

@media (hover: hover) and (pointer: fine) {
   .releases .products-navigation:hover {
      background-color: var(--color-primary);
   }

   .releases .products-navigation:hover i {
      color: var(--color-bg);
   }
}


/* RESPONSIVE */
@media (max-width: 768px) {
   .releases {
      padding-left: 19px;
      padding-right: 19px;
   }
   .releases .products {
      gap: 20px;
   }
   .releases .products-navigation {
      display: none;
   }

   .releases .header h2 {
      font-weight: var(--font-weight-bold);
      font-size: var(--font-lg);
   }
   
   .releases .header button {
      font-weight: var(--font-weight-bold);
      font-size: var(--font-md);
      text-decoration: underline;
   }

   .releases .swiper-pagination-bullet {
      width: 9px;
      height: 9px;
   }
}