.topbar-search {
  display: flex;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
  justify-content: center;
}

.topbar-search-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 595px;
  max-width: 595px;
  min-width: 361px;
  height: 42px;
  background: var(--color-bg);
  border-radius: 10px;
  border: 2px solid #dddddd75;
}

.topbar-search-content:focus-within {
  border: 2px solid var(--color-primary);
}

.topbar-search-input {
  color: var(--color-font-search);
  cursor: pointer;
  user-select: none;
  padding: 10px 25px;
  border: none;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  font: var(--font-weight-bold) var(--font-sm) var(--font-primary);
}

.topbar-search-input::placeholder {
  color: var(--color-font-search);
  opacity: 0.9;
}

.topbar-search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  user-select: none;
  width: 55px;
  height: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.25s ease-out;
}

.topbar-search:focus-within .topbar-search-icon {
  color: var(--color-primary);
}

.topbar-search-icon:hover {
  background-color: color-mix(in srgb, var(--color-bg), black 5%);
}

.topbar-search:focus-within .topbar-search-icon:hover {
  background-color: color-mix(in srgb, var(--color-primary), transparent 90%);
}

.topbar-search-icon:active {
  background-color: color-mix(in srgb, var(--color-primary), transparent 80%);
  transition: none;
}
