@import 'variables.css';
@import 'core.css';
@import 'layouts/all.css';
@import 'components/all.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
    background-color: var(--color-bg);
}

p {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-primary);
    color: var(--color-font-secondary);
}