@import "variables.css";
@import "core.css";
@import "layouts/all.css";
@import "components/all.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-bg);
}

p {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-sm);
  color: var(--color-font-secondary);
}

main {
  overflow: hidden;
}

img {
  user-select: none;
}

/* VERSIONS */
.version-desktop {
  display: flex;
}

.version-mobile {
  display: none;
}


@media (max-width: 768px) {
  .version-mobile {
    display: flex;
  }

  .version-desktop {
    display: none;
  }
}