:root {
  --input-header-height: 118px;
  --input-header-height-promotion: 30px;
  --input-header-height-total: calc(
    var(--input-header-height) + var(--input-header-height-promotion)
  );

  --color-bg: #ffffff;
  --color-primary: #005cff;

  --color-header: #ffffff;
  --color-header-promotion: #005cff;

  --color-font-primary: #ffffff;
  --color-font-secondary: #000000;
  --color-font-search: #000000;

  --font-primary: "nunito-sans", sans-serif;
  --font-secondary: "Nunito", sans-serif;

  --font-size-primary: 14px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* promotions */
  --font-size-promo: 14px;
  --color-bg-promo-discont: #6220c1;
}
