:root {
  /* inputs */
  --input-header-height: 7.375rem;
  --input-header-height-promotion: 1.875rem;
  --input-header-height-total: calc(
    var(--input-header-height) + var(--input-header-height-promotion)
  );
  --input-section-width: 73.5625rem;

  /* colors */
  --color-bg: #ffffff;
  --color-primary: #005cff;

  --color-header: #ffffff;
  --color-header-promotion: #005cff;

  --color-font-primary: #ffffff;
  --color-font-secondary: #000000;
  --color-font-search: #000000;

  /* fonts */
  --font-primary: "nunito-sans", sans-serif;
  --font-secondary: "Nunito", sans-serif;

  --font-size-primary: 0.875rem;
  --font-size-18: 1.125rem;
  --font-size-25: 1.5625rem;
  --font-size-30: 1.875rem;
  --font-size-60: 3.75rem;
  --font-size-100: 6.25rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* promotions */
  --font-size-promo: 0.875rem;
  --color-bg-promo-discont: #6220c1;
}

/* MOBILE */
@media (max-width: 768px) {
  :root {
    --font-size-18: 0.875rem;
    --font-size-25: 0.75rem;
    --font-size-30: 1.5rem;
    --font-size-60: 2rem;
    --font-size-100: 2.5rem;
  }
}
