.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 510px;
  background-color: #e7e7ea;
  user-select: text;
}

.banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 67%;
  height: 100%;
}

.banner-item {
  display: flex;
  position: absolute;
  width: 52%;
  height: 100%;
}

.banner-item-right {
  right: 20px;
}

.banner-item-left {
  left: 0px;
}

.banner-img {
  width: 685px;
  height: 510px;
  mix-blend-mode: darken;
}

.banner-title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
}

.banner-title-highlight,
.banner-tittle {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 100px;
  color: var(--color-font-secondary);
}

.banner-title-highlight {
  font-weight: var(--font-weight-light);
}

.banner-discount,
.banner-subtitle-spacing,
.banner-subtitle {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 25px;
  color: var(--color-primary);
  margin-top: 14px;
}

.banner-subtitle-spacing {
  letter-spacing: 7px;
}

.banner-discount {
  font-size: 59px;
  margin-top: 13px;
}

/* .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67%;
  height: 100%;
  border: 1px solid black;
} */

/* .banner-title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-primary);
  color: var(--color-font-primary);
} */
