.footer-container {
  width: 100%;
  height: auto;
}

.footer-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 386px;
  background-color: var(--color-bg-footer);
  gap: 70px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: aquamarine;
  width: 1160px;
  min-height: 170px;
}

.footer-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 35px;
}

.footer-cards img {
    max-height: 24px;
}
