.footer-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* NAVIGATION */
.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 24.125rem;
  background-color: var(--color-bg-footer);
  gap: 4.375rem;
}

.footer-section {
  width: clamp(50rem, 90vw, 72.5rem);
  min-height: 10.625rem;
  display: flex;
  justify-content: space-between;
}

.footer-section-logo {
  width: auto;
  height: auto;
}

.footer-section-items {
  display: none;
}

.footer-section-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.375rem;
  width: 100%;
}

.footer-social-media {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 2.5rem;
}

.footer-logo {
  width: 152.58px;
  height: 27.8px;
}

.footer-social-media-content {
  display: flex;
  gap: 2.5rem;
}

.footer-social-media-content img {
  max-height: 1.625rem;
  color: blueviolet;
}

.footer-links {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links li {
  margin: 0.5625rem 0;
}

.footer-links-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links-title i {
  display: none;
}

.footer-links-title h4 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-sm);
  color: var(--color-font-secondary);
}

.footer-links a {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-sm);
  color: var(--color-font-secondary);
  text-decoration: none;
}

.footer-phone {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-sm);
  color: #303030;
}

.footer-phone span {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-base);
  color: var(--color-font-secondary);
}

.footer-email {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-sm);
  color: var(--color-font-secondary);
}

.footer-service {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-xs);
  color: var(--color-font-secondary);
}

.footer-service-item {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-xs);
  color: var(--color-font-secondary);
}

/* Spoiler */
.footer-spoiler-content {
  display: none;
}

.footer-links.open .footer-spoiler-content {
  display: block;
}

.footer-links.open .bi-chevron-down {
  transform: rotate(180deg);
}

.footer-spoiler-icon {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER FINAL */
.footer-final {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 4.375rem;
  width: 100%;
}
.footer-final p {
  text-align: center;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-sm);
  color: var(--color-font-secondary);
  max-width: 84.375rem;
  min-width: 21.875rem;
  padding: 3.125rem;
}

.footer-final-tecnologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.125rem;
  margin-top: 1.625rem;
  padding: 0 4rem 0 4rem;
}
.footer-final-tecnologies div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

/* RESPONSIVE */
@media (width > 768px) {
  .footer-section-items {
    display: grid;
    width: 100%;
    justify-content: end;
    grid-template-columns: repeat(3, 0.27fr);
  }

  .footer-spoiler-content {
    display: block;
  }
}

@media (width <= 1024px) {
  .footer-section {
    gap: 3.125rem;
  }
  .footer-section-items {
    display: grid;
    width: 100%;
    justify-content: end;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 768px) {
  .footer-nav {
    padding-top: 3.75rem;
    padding-bottom: 3.125rem;
  }
  .footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 3.4375rem;
    /* min-height: 170px; */
  }

  .footer-section-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .footer-links {
    width: 100%;
    border: 2px solid #dddddd;
    border-style: none none solid none;
    padding: 1.5625rem;
  }

  .footer-links-title h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-lg);
  }

  .footer-links-title i {
    display: block;
    color: var(--color-primary);
    -webkit-text-stroke: 2px;
  }
  .footer-final-tecnologies,
  .footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.25);
  }

  .footer-final-tecnologies{
    gap: 1.25rem;
  }
}
