.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: var(--color-header-promotion);
  z-index: 500;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-header);
  width: 100%;
  height: 118px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}

.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-width: 67%;
  max-width: 1300px;
  height: 100%;

  transition: padding 0.5s ease-in-out;

}

@media (max-width: 1400px) {
  .header-menu  {
    padding: 0 40px 0 40px;
  }
}
