.navbar {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 50px;
}

.navbar-hamburger {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: transparent;
}

.navbar-hamburger i {
  margin: auto;
  color: var(--color-font-secondary);
  font-size: 20px;
  -webkit-text-stroke: 1px;
  transition: color 0.25s ease-out;
}

.navbar-hamburger:hover * {
  color: var(--color-primary);
}

.navbar-hamburger p {
  margin: auto;
  text-wrap: nowrap;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-sm);
  color: var(--color-font-secondary);
  transition: color 0.25s ease-out;
}

.navbar-departments-content {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
}

.navbar-departments-area {
  display: flex;
  justify-content: start;
  width: 100%;
}


.navbar-departments {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  transition: opacity 0.2s ease-in-out;
}

@media (max-width: 1200px) {
  .navbar-departments{
    opacity: 0;
    pointer-events: none;
  }
}

.navbar-departments-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-departments-text {
  display: flex;
  position: relative;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-sm);
  color: transparent;
  user-select: none;
  height: 100%;
}

.navbar-departments-text::before {
  display: block;
  content: attr(title);
  color: var(--color-font-secondary);
  z-index: 1;
  position: absolute;
  font-weight: var(--font-weight-regular);
}

.navbar-departments-text:hover {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.navbar-departments-text:hover::before {
  color: transparent;
}
