.section-container {
  margin: auto;
}

.section-container.medium {
  max-width: var(--input-section-width-medium);
}

.section-container.large {
  max-width: var(--input-section-width-large);
}

.section-container.full {
  max-width: 100%;
}

.section-space {
  margin-top: 4.375rem;
}
