.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topbar-user-and-cart {
  display: flex;
  position: relative;
  align-items: center;
  min-width: 164.31px;
  height: 28px;
  gap: 20px;
}
