.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.topbar-logo {
  width: 152.58px;
  height: 27.08px;
  cursor: pointer;
  padding-right: 6px;
  user-select: none;
}

.topbar-user-and-cart {
  display: flex;
  position: relative;
  align-items: center;
  min-width: 164.31px;
  height: 28px;
  padding-left: 50px;
  gap: 20px;
}
